<!--Filter Placeholder Start-->
<div class="placeholder-content">
    <div class="placeholder-content_item box1"></div>
    <div class="placeholder-filter">
        <div class="placeholder-filter_inner placeholder-flex">
            <div class="placeholder-content_item head"></div>
            <div class="placeholder-filter_box placeholder-flex">
                <div class="placeholder-content_item box"></div>
                <div class="placeholder-content_item box"></div>
                <div class="placeholder-content_item box"></div>
                <div class="placeholder-content_item box"></div>
                <div class="placeholder-content_item box"></div>
                <div class="placeholder-content_item box"></div>
                <div class="placeholder-content_item box"></div>
                <div class="placeholder-content_item box"></div>
                <div class="placeholder-content_item box"></div>
                <div class="placeholder-content_item box"></div>
            </div>
        </div>
        <div class="placeholder-filter_inner placeholder-flex">
            <div class="placeholder-content_item head"></div>
            <div class="placeholder-content_item box-list placeholder-filter_box"></div>
        </div>
        <div class="placeholder-filter_inner placeholder-flex">
            <div class="placeholder-content_item head"></div>
            <div class="placeholder-content_item box-list placeholder-filter_box"></div>
        </div>
        <div class="placeholder-filter_inner placeholder-flex">
            <div class="placeholder-content_item head"></div>
            <div class="placeholder-content_item box-list placeholder-filter_box"></div>
        </div>
        <div class="placeholder-filter_inner placeholder-flex">
            <div class="placeholder-content_item head"></div>
            <div class="placeholder-content_item box-list placeholder-filter_box"></div>
        </div>
        <div class="placeholder-content_item"></div>
    </div>
</div>
<!--Filter Placeholder End-->