<div class="placeholder-content">
    <div class="placeholder-content_table">
        <div class="placeholder-product_list">
            <div class="placeholder-content_list">
                <div class="placeholder-content_item round-img"></div>
                <div class="placeholder-content_item placeholder-product"></div>
                <div class="placeholder-content_item placeholder-price"></div>
                <div class="placeholder-content_item placeholder-compare"></div>
            </div>
            <div class="placeholder-content_list">
                <div class="placeholder-content_item round-img"></div>
                <div class="placeholder-content_item placeholder-product"></div>
                <div class="placeholder-content_item placeholder-price"></div>
                <div class="placeholder-content_item placeholder-compare"></div>
            </div>
            <div class="placeholder-content_list">
                <div class="placeholder-content_item round-img"></div>
                <div class="placeholder-content_item placeholder-product"></div>
                <div class="placeholder-content_item placeholder-price"></div>
                <div class="placeholder-content_item placeholder-compare"></div>
            </div>
            <div class="placeholder-content_list">
                <div class="placeholder-content_item round-img"></div>
                <div class="placeholder-content_item placeholder-product"></div>
                <div class="placeholder-content_item placeholder-price"></div>
                <div class="placeholder-content_item placeholder-compare"></div>
            </div>
            <div class="placeholder-content_list">
                <div class="placeholder-content_item round-img"></div>
                <div class="placeholder-content_item placeholder-product"></div>
                <div class="placeholder-content_item placeholder-price"></div>
                <div class="placeholder-content_item placeholder-compare"></div>
            </div>
            <div class="placeholder-content_list">
                <div class="placeholder-content_item round-img"></div>
                <div class="placeholder-content_item placeholder-product"></div>
                <div class="placeholder-content_item placeholder-price"></div>
                <div class="placeholder-content_item placeholder-compare"></div>
            </div>
            <div class="placeholder-content_list">
                <div class="placeholder-content_item round-img"></div>
                <div class="placeholder-content_item placeholder-product"></div>
                <div class="placeholder-content_item placeholder-price"></div>
                <div class="placeholder-content_item placeholder-compare"></div>
            </div>
            <div class="placeholder-content_list">
                <div class="placeholder-content_item round-img"></div>
                <div class="placeholder-content_item placeholder-product"></div>
                <div class="placeholder-content_item placeholder-price"></div>
                <div class="placeholder-content_item placeholder-compare"></div>
            </div>
            <div class="placeholder-content_list">
                <div class="placeholder-content_item round-img"></div>
                <div class="placeholder-content_item placeholder-product"></div>
                <div class="placeholder-content_item placeholder-price"></div>
                <div class="placeholder-content_item placeholder-compare"></div>
            </div>
            <div class="placeholder-content_list">
                <div class="placeholder-content_item round-img"></div>
                <div class="placeholder-content_item placeholder-product"></div>
                <div class="placeholder-content_item placeholder-price"></div>
                <div class="placeholder-content_item placeholder-compare"></div>
            </div>
            <div class="placeholder-content_list">
                <div class="placeholder-content_item round-img"></div>
                <div class="placeholder-content_item placeholder-product"></div>
                <div class="placeholder-content_item placeholder-price"></div>
                <div class="placeholder-content_item placeholder-compare"></div>
            </div>
            <div class="placeholder-content_list">
                <div class="placeholder-content_item round-img"></div>
                <div class="placeholder-content_item placeholder-product"></div>
                <div class="placeholder-content_item placeholder-price"></div>
                <div class="placeholder-content_item placeholder-compare"></div>
            </div>  
        </div>
    </div>
    <div class="placeholder-content_footer placeholder-flex">
        <div class="placeholder-content_item button-box"></div>
        <div class="placeholder-content_item head"></div>
    </div>
</div>
