<div class="placeholder-content">
    <div class="placeholder-content_table">
        <div class="placeholder-content_tableInner">
            <div class="placeholder-content_item box1"></div>
            <div class="placeholder-content_item placeholder-table_listing"> </div>
            <div class="placeholder-content_item placeholder-table_listing"> </div>
            <div class="placeholder-content_item placeholder-table_listing"> </div>
            <div class="placeholder-content_item placeholder-table_listing"> </div>
            <div class="placeholder-content_item placeholder-table_listing"> </div>
            <div class="placeholder-content_item placeholder-table_listing"> </div>
        </div>                        
    </div>
    <div class="placeholder-content_footer placeholder-flex">
        <div class="placeholder-content_item button-box"></div>
        <div class="placeholder-content_item head"></div>
    </div>
</div>
