<div class="placeholder-content placeholder-content-top">
   <div class="placeholder-content_item box1"></div>
   <div class="placeholder-content_item"></div>
   <div class="placeholder-filter_box placeholder-flex placeholder-filter placeholder-ringbuilder">
      <div class="placeholder-content_item box"></div>
      <div class="placeholder-content_item box"></div>
      <div class="placeholder-content_item box"></div>
      <div class="placeholder-content_item box"></div>
      <div class="placeholder-content_item box"></div>
      <div class="placeholder-content_item box"></div>
      <div class="placeholder-content_item box"></div>
      <div class="placeholder-content_item box"></div>
      <div class="placeholder-content_item box"></div>
      <div class="placeholder-content_item box"></div>
   </div>
   <div class="placeholder-flex ringbuilder-filter">
      <div class="placeholder-filter_inner placeholder-flex placeholder-filter">
         <div class="placeholder-content_item head"></div>
         <div class="placeholder-filter_box placeholder-flex">
            <div class="placeholder-content_item box"></div>
            <div class="placeholder-content_item box"></div>
            <div class="placeholder-content_item box"></div>
            <div class="placeholder-content_item box"></div>
            <div class="placeholder-content_item box"></div>
            <div class="placeholder-content_item box"></div>
            <div class="placeholder-content_item box"></div>
            <div class="placeholder-content_item box"></div>
            <div class="placeholder-content_item box"></div>
            <div class="placeholder-content_item box"></div>
         </div>
      </div>
      <div class="placeholder-filter_inner placeholder-flex  placeholder-filter">
         <div class="placeholder-filter_inner placeholder-flex right-side">
            <div class="placeholder-content_item head"></div>
            <div class="placeholder-content_item box-list placeholder-filter_box"></div>
         </div>
         <div class="placeholder-filter_inner placeholder-flex right-side">
            <div class="placeholder-content_item head"></div>
            <div class="placeholder-filter_box placeholder-flex">
               <div class="placeholder-content_item box"></div>
               <div class="placeholder-content_item box"></div>
               <div class="placeholder-content_item box"></div>
               <div class="placeholder-content_item box"></div>
               <div class="placeholder-content_item box"></div>
            </div>
         </div>
      </div>
   </div>
</div>